@use '../../assets/' as *;

.iconButton {
    width: $tableDataDetailsButtonSize;
    height: $tableDataDetailsButtonSize;
    border-radius: 100%;
    background-color: $backgroundPrimary;
    border: 1px solid $surfaceBorder15;
    cursor: pointer;

    @include hover {
        border: 1px solid $textPrimary;
    }

    svg {
        fill: $textPrimary;
    }
}

.exportButton {
    width: fit-content;
    border-radius: 50px;
    background-color: $backgroundPrimary;
    border: 1px solid $surfaceBorder15;
    padding: 0 $padding;
    cursor: pointer;

    @include hover {
        border: 1px solid $textPrimary;
    }
}