@use '../../../assets/' as *;

.p-dialog {
    background-color: $backgroundPrimary;
    padding: $padding;
    line-height: 1.5rem;
    border-radius: $borderRadius;
    border: 1px solid $surfaceBorder15;

    .p-dialog-header {
        padding-bottom: $padding;
        border-bottom: 1px solid $surfaceBorder15;
    }

    .p-dialog-content {
        padding-top: $padding;
    }

    .p-dialog-header, .p-dialog-content {
        background-color: inherit;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 300;

        a {
            text-decoration: underline;
        }

    }
}