@mixin reset-styles {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Placeholder Loading Animation
@mixin loading-element($width, $height: $width) {
    border-radius: 100px;
    width: $width;
    height: $height;
    background-image: linear-gradient(90deg, rgba(31,31,31,0.2) 0%, rgba(126,126,126,0.2) 40%, rgba(110,110,110,0.2) 60%, rgba(31,31,31,0.2) 100%);
    background-position: 0px 0px;
    background-repeat: repeat;
    color: transparent;
}

@mixin element-shadow($color) {
    -webkit-box-shadow: 0px 15px 20px 6px $color;
    -moz-box-shadow: 0px 15px 20px 6px $color;
    box-shadow: 0px 15px 20px 6px $color;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}