$headerHeight: 80px;
$thumbnailSize: 5rem;
$borderRadius: 1rem;
$padding: 1rem;
$inputBorderRadius: calc($borderRadius / 2);

// TABLE VARIABLES
$searchInputHeight: 40px;
$tableDataDetailsButtonSize: 48px;
$tableSearchHeight: calc($searchInputHeight + ($padding * 2.5));

// COLOR VARIABLES
$backgroundPrimary: rgba(31, 31, 31, 1);
$backgroundTransparent: rgba(31, 31, 31, 0.90);

$surfaceBackground05: rgba(255, 255, 255, 0.05);
$surfaceBackground15: rgba(255, 255, 255, 0.15);

$surfaceBorder15: rgba(255, 255, 255, 0.15);

$textPrimary: rgba(232, 232, 232, 1);
$textPrimary75: rgba(232, 232, 232, 0.75);
$textPrimary50: rgba(232, 232, 232, 0.50);