
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


table img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
}