@use './assets/' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'primereact/resources/themes/arya-purple/theme.css';

*:not(.orgChart *) {
  @include reset-styles;
  font-family: "Roboto", sans-serif;
  color: $textPrimary;
}

body {
  background-color: $backgroundPrimary;
  height: 100vh;
  overflow: hidden;
}

.employeesMain {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $surfaceBorder15;
  border-right: 1px solid $surfaceBorder15;
}

.orgChartMain {
  border-left: 1px solid $surfaceBorder15;
  border-right: 1px solid $surfaceBorder15;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.loadingImage {
  @include loading-element($tableImageSize);
  animation: animatedBackground 20s linear infinite;
}

.loadingText {
  @include loading-element(100%, fit-content);
  animation: animatedBackground 15s linear infinite;
}

// Placeholder gradient animation, loading-element mixin or gradient background must be included
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}